{
    "COPP_GROUP": {
        "copp-system-lacp": {
            "cir":"300",
            "cbs":"300"
        },
        "copp-system-udld": {
            "cir":"300",
            "cbs":"300"
        },
        "copp-system-stp": {
            "cir":"10000",
            "cbs":"10000"
        },
        "copp-system-bfd": {
            "cir":"1000",
            "cbs":"1000"
        },
        "copp-system-lldp": {
            "cir":"300",
            "cbs":"300"
        },
        "copp-system-vrrp": {
            "cir":"300",
            "cbs":"300"
        },
        "copp-system-iccp": {
            "cir":"3000",
            "cbs":"3000"
        },
        "copp-system-ospf": {
            "cir":"3000",
            "cbs":"3000"
        },
        "copp-system-bgp": {
            "cir":"6000",
            "cbs":"6000"
        },
        "copp-system-pim": {
            "cir":"3000",
            "cbs":"3000"
        },
        "copp-system-igmp": {
            "cir":"1000",
            "cbs":"1000"
        },
        "copp-system-suppress": {
            "cir":"2000",
            "cbs":"2000"
        },
        "copp-system-arp": {
            "cir":"2000",
            "cbs":"2000"
        },
        "copp-system-dhcp": {
            "cir":"100",
            "cbs":"100"
        },
        "copp-system-icmp": {
            "cir":"600",
            "cbs":"600"
        },
        "copp-system-ip2me": {
            "cir":"500000",
            "cbs":"500000"
        },
        "copp-system-subnet": {
            "cir":"1500",
            "cbs":"1500"
        },
        "copp-system-mtu": {
            "cir":"300",
            "cbs":"300"
        },
        "copp-system-sflow": {
            "cir":"5000",
            "cbs":"5000"
        }
    },
    "SCHEDULER": {
        "copp-scheduler-policy@23": {
            "pir": "300"
        },
        "copp-scheduler-policy@22": {
            "pir": "300"
        },
        "copp-scheduler-policy@21": {
            "pir": "10000"
        },
        "copp-scheduler-policy@20": {
            "pir": "1000"
        },
        "copp-scheduler-policy@19": {
            "pir": "3000"
        },
        "copp-scheduler-policy@18": {
            "pir": "300"
        },
        "copp-scheduler-policy@17": {
            "pir": "300"
        },
        "copp-scheduler-policy@16": {
            "pir": "3000"
        },
        "copp-scheduler-policy@15": {
            "pir": "3000"
        },
        "copp-scheduler-policy@14": {
            "pir": "6000"
        },
        "copp-scheduler-policy@13": {
            "pir": "3000"
        },
        "copp-scheduler-policy@12": {
            "pir": "1000"
        },
        "copp-scheduler-policy@11": {
            "pir": "2000"
        },
        "copp-scheduler-policy@10": {
            "pir": "2000"
        },
        "copp-scheduler-policy@9": {
            "pir": "200"
        },
        "copp-scheduler-policy@8": {
            "pir": "600"
        },
        "copp-scheduler-policy@7": {
            "pir": "500000"
        },
        "copp-scheduler-policy@6": {
            "pir": "500000"
        },
        "copp-scheduler-policy@4": {
            "pir": "300"
        },
        "copp-scheduler-policy@3": {
            "pir": "5000"
        },
        "copp-scheduler-policy@1": {
            "pir": "100"
        }
    }
}
